/*********************************************
               General Styles
**********************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100vh;
    max-width: 1920px;
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}

/*********************************************
            Navigation From W3
**********************************************/

/* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebeef4;
}

/* Float the list items side by side */

ul.topnav li {float: left;}

/* Style the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */

ul.topnav li a:hover {background-color:firebrick;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {display: none;}

/*********************************************
         Main Header / Sub-Header
**********************************************/

.main-heading, .sub-heading {
    text-align: center;
    color: white;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 1em auto 0 auto;
}

.main-heading {
    font-size: 4em;
}

/*********************************************
                State Logos
**********************************************/

.state {
    display:flex; 
    justify-content:space-around;
    align-items: center;
}

.state li {
    margin-top: 3em;
    list-style: none;
    margin-left: -5em;
}

.state a:hover {
    background: red;
}

/*********************************************
                Background Image
**********************************************/

header {
    background:url(../img/home_screen.png)no-repeat center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

/*********************************************
                State List
**********************************************/

.state-list {
    display:flex; 
    justify-content:space-around;
    align-items: center;
    margin-left: 5em;    
}   

.state-list li {
    color: white;
    list-style: none;
    font-size: 1em;
    font-family: Helvetica;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*********************************************
                Why vote
**********************************************/

.intro-content {
/*    margin: 3em 8em; */
    background: #FFFFFF;
    height: 50vh;
    text-align: center;
}

/*********************************************
        Voting Questions Section
**********************************************/
.fact-section {
    background: #DEDEDE;
}

.fact-container   {
    display: block;
    margin: 0;
    padding: 0;
}

.reveal-wrapper {
  margin: 0;
  position: relative;
  overflow: hidden;
    width: 100%;
}


.reveal-wrapper:hover .reveal-top {
  left: -100%;
   
}

.reveal-content {
  
  padding: 150px 75px;
  color: #000;
  background: #DEDEDE;
    width: 100%;
}

.reveal-top {
/*  line-height: 265px;*/
  background: #DEDEDE;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.6s ease;
}


.fact-container  {
    margin: 0 auto;
    padding: 0;
}
    
    .fact-container p {
        font-size: 1em;
        text-align:center;
        line-height: 2em;
    }    
    
   .fact-container figcaption {
        text-align:center;
        margin-bottom: 1.5em;
        font-size: 1.5em;
    }    

.fact-icon {
    width: 15em; 
    display: block;
    margin: 0 auto;
    }
    
 
/*********************************************
            Meet The Candidates
**********************************************/

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vh;
}  

.container h1 {
    padding: 3em 0 0 0;
    margin: 0;
    text-align: center;
    color: #EBEBEB;
}

.content {
    color: #A12933;
    background:url(../img/sotu2.png)no-repeat center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    text-align: center;
}

.content-two {
    color: #A12933;
    background:url(../img/fb1.png)no-repeat center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    text-align: center;
   
}

.dem img, .reveal img {
    display: block;
    margin: 1.5em auto;
}

.reveal{
    background: #8D2E2E;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    position: absolute;
    transition: left 0.5s ease;
}

.dem {
    background: #1E47AA;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    position: absolute;
    transition: left 0.5s ease;
}

.pic-list li {
    display: inline-block;
    margin:3em 5em 0 0;
}

figure {
    margin: 0;
    padding: 2em;
}


.container:hover .reveal, .container:hover .dem {
    left: -100%;
}



/*********************************************
                Social Section
**********************************************/

.social {
    background: #128FF9;
    height: 70vh;
}

.social h2 {
    margin: 0 0 1em;
    padding-top: 3em;
    text-align: center;
    color: #fff;
}

.phone, .mac {
    width: 8em;
    margin-left: 1em;
}    
    
.tweet {
    text-align: center;
}

.tweet li{
    list-style: none;
    display: inline-block;
    margin:0 2em 0 0;
    color: #fff;
}

.social-icon  {
    text-align: center;
    margin: 0 auto;
}

.social-icon li {
    display: inline-block;
}

   
.media-icon {
    text-align: center;
    margin: 0 auto;
}

.media-icon li {
    display: inline-block;
}

/****************************************/
.faq-title {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}

.dates {
    text-align: center;
    margin: 0 auto;
}
.dates li {
    display: inline-block;
}
    


/****************FAQ************************/
.faq-header{
    font-size: 2em;
    text-align: center;
    color: #061C58; 
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

.faq-container {
    background: #DEDEDE;
}


.faq-c {
  border: 2px solid #ccc;
  padding: 1em 0;
  text-align: center;
  background-color: #E0E0E0;
    width: 50%;
    
    color: #fff;
    width: 100%;
}

.faq-t {
  line-height: 1em;
  color: #fff; 
  font-family: sans-serif; 
  float:left; 
  font-weight: 700; 
  padding-right: 0.3em; 
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: slategray;
  display: none;
  padding-left: 1.5em;
}

.faq-spot {
    margin-top: 3em;
}

/*********************************************
                Media Queries Up to 475
**********************************************/

@media(min-width:320px) and (max-width:475px){
.vote_icons {
    display: none;
}

.party-logo {
    margin: 2em  0 0 6em;

}
.social-icon  {
    text-align: center;
    margin: 0 auto;
}

.social-icon li {
    display: inline-block;
    width: 7em;
}
       
.media-icon {
    text-align: center;
    margin: 0 auto;
}

.media-icon li {
    display: inline-block;
}
    

    
}
/*********************************************
                Media Queries  up to 650
**********************************************/
@media(max-width:650px){
    
    ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
      ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
    
.state {
    display: none;
}

.state-list {
    display: block;
    text-align: center;
    margin: 3em auto 0 auto;
}

.state-list li {
    margin-bottom: 3em;
    border-bottom: 1px solid white;
}

.main-heading {
    font-size: 2em;
}
.sub-heading {
    font-size: 0.95em;
}

/*    Intro Content*/
.intro-content {
    font-size: 0.78em;
    height: 70vh;
    width: 100%;
    margin: 0;
    line-height: 2em;
    text-align: center;
}
.intro-title {
    font-size: 2em;
    margin-top: 1em;
}

/************Voting Questions******** */
   .fact-section {
    background: #DEDEDE;
}

.fact-container  {
    margin: 0 auto;
    padding: 0;
}
    
.fact-container p {
    font-size: 0.95em;
    text-align:center;
}    

.fact-container figcaption {
    text-align:center;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}    

.fact-icon {
    width: 12em; 
    display: block;
    margin: 0 auto;
}
    
 .reveal-wrapper:hover .reveal-top {
  left: -100%;
   
}

.reveal-content {
  
  padding: 125px 30px;
  color: #000;
  background: #DEDEDE;
    width: 100%;
}

.reveal-top {
/*  line-height: 265px;*/
  background: #DEDEDE;

}
 
/*********Social***************/
.social {
    background: #128FF9;
    height: 40vh;
}

.social h2 {
    margin: 0 0 1em;
    padding-top: 3em;
    text-align: center;
    color: #fff;
}
  
.phone, .mac {
    width: 8em;
    margin-left: 1em;
}    
    
.tweet {
    text-align: center;
}

.tweet li{
    list-style: none;
    display: inline-block;
    margin:0 2em 0 0;
    color: #fff;
}

.media-icon {
    text-align: center;
    margin: 0 auto;
   
 }
    
.media-icon li {
    display: inline-block;
     padding-bottom: 1em;
}
    
.facebook, .twitter {
    width: 3em;
}
    
/************Meet Candidates**********************/
.pic {
    width: 8em;
}  

.pic-list li {
    margin: 5px 0 0 0;
}

 .dem img, .reveal img {
    display: block;
    margin: 0 auto;
}


    
/************Buttons**********************/    
.bg {
    height: 60vh;
}
.faq-title {
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
}

.faq-header{
    font-size: 2em;
    text-align: center;
    color: #061C58; }
/************Buttons**********************/ 
    .bg img {
        width: 8em;
        display: block;
        margin: 0 auto;
    }
    
    .dates {
        display: inline-block;
    }
    
    .caption {
        text-align: center;
    }
    
    
/************FAQ**********************/
    
.faq-c {
    border: 2px solid #ccc;
    padding: 1em 0;
    text-align: center;
    background-color: #E0E0E0;
    width: 50%;
    color: #fff;
    width: 100%;
}

.faq-t {
  line-height: 1em;
  color: #fff; 
  font-family: sans-serif; 
  float:left; 
  font-weight: 700; 
  padding-right: 0.3em; 
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: slategray;
  display: none;
  padding-left: 1.5em;
}

.faq-spot {
    margin-top: 3em;
}

    
/**/
.faq-header {
    margin-bottom: 1.5em;
    margin-top: 1em;
}
}

/*********************************************
            Contact Page Styling
**********************************************/

form {
    display: inline-block;
    margin: 0 auto;
}

/*********************************************
        Media Queries From 651-851
**********************************************/
@media(min-width:651px) and (max-width: 851px){
   
.main-heading {
    font-size: 2.5em;
}
.sub-heading {
    font-size: 1em;
}
    
/**************Intro Content****************/
    
    
.intro-content {
    font-size: 1.2em;
    height: 80vh;
    width: 100%;
    margin: 0;
    line-height: 2em;
    text-align: center;
}
.intro-title {
    font-size: 2.5em;
    margin-top: 1em;
}

.intro-content p{
    margin: 0;
}

/************Meet Candidates**********************/
        
.dem img, .reveal img {
    display: block;
    margin: 0 auto;
}

.pic {
    width: 10em;
}

/************Social**********************/

.social {
    background: #128FF9;
    height: 50vh;
}

.social h2 {
    margin: 0 0 1em;
    padding-top: 3em;
    text-align: center;
    color: #fff;
}

 .social-icon  {
    text-align: center;
    margin: 0 auto;
}

.social-icon li {
    display: inline-block;
}
    
.phone, .mac {
    width: 10em;
}    
    
.tweet {
    text-align: center;
}

.tweet li{
    list-style: none;
    display: inline-block;
    margin:0 2em 0 0;
    color: #fff;
}

.media-icon {
    text-align: center;
    margin: 0 auto;
}

.media-icon li {
    display: inline-block;
}
    
.facebook, .twitter {
    width: 3.5em;
}

/************Social**********************/
    
    .bg {
        text-align: center;
        margin: 0 auto;
    }
    
    .bg img {
        width: 10em;
        display: inline-block;
    }
    
    
    
}


/*********************************************
            Media Queries from 852-1920
**********************************************/


    @media (min-width: 852px) and (max-width: 1920px){
      
        .intro-content {
           margin:0 2.5em;
            line-height: 2em;
        }
        
        .intro-content p {
            margin: 0;
        }
       
        .fact-section {
            margin-top: 3em;
        } 
        
        .fact-container {
            margin-left: 3em;
            margin-right: 3em;
        }
        
        .phone, .mac {
        width: 11.5em;
        } 

        .facebook, .twitter {
        width: 3em;
        } 
        
        .social {
    background: #128FF9;
    height: 50vh;
}
      
     
        
        
    }
       
    
